<div class="row py-5 px-4 profile-body">
  <div class="col-md-10 mx-auto">
    <div class='container-fluid header'>
      <div class='contaoner col-md-12 mx-auto my-3 center'>
          <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
      </div>

      <div class='container col-md-4 mx-auto my-3'>
        <h2 class='titulos'>Regístro administrador</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "admins/shared/error_messages", resource: resource %>

          <div class="field textos">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field textos">
            <%= f.label "Contraseña" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field textos">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions textos">
            <%= f.submit "Regístrate" %>
          </div>
        <% end %>

        <%= render "admins/shared/links" %>

      </div>
    </div>
  </div>
</div>
