<nav class="navbar navbar-expand-md navbar_ecolabora">
  <a class="navbar-brand titulos navbar_ecolabora" href='/'>Ecolabora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto textos navbar_ecolabora align-items-center justify-content-center">
    <% if user_signed_in? %>
        <li class="nav-item">
          <%=link_to 'Mi perfil', user_profile_path, class: "dropdown-item"%>
        </li> 
        <li role="separator" class="divider"></li>
        <li class="nav-item">
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "dropdown-item"%>
        </li>
        <li role="separator" class="divider"></li>
        <li class="nav-item">
          <div class="img_cont d-sm-none d-md-block">
            <% if current_user.avatar.present?  %>
              <%= image_tag(current_user.avatar, alt:"Foto_de_producto", class:"rounded-circle user_img mx-auto mt-3 ml-3")%>
            <% end  %>
          </div>
        </li>
      <% else  %>
        <li class="nav-item">
          <%=link_to 'Regístrate', new_user_registration_path, class: "dropdown-item" %>
        </li>
        <li class='nav-item'>
          <%=link_to 'Inicio sesión', user_session_path, class: "dropdown-item" %>
        </li>
      <% end  %>
    </ul>
  </div>
</nav>