<div class='container'>
  <div id="carouselExampleDark" class="carousel carousel-dark slide custom-carusel container-fluid px-0" data-ride="carousel" data-touch="false" data-interval="true">
    <div class="carousel-indicators">
      <button type="button" class="mx-1 my-3" data-target="#carouselExampleDark" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" class="mx-1 my-3" data-target="#carouselExampleDark" data-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner my-4">
      <div class="carousel-item active" data-interval="10000">
        <%= image_tag("carousel-1.jpg", class: "d-block custom-carusel imagenesCarro mt-5") %>
        <div class="carousel-caption d-none d-md-block carousel-caption titulos mb-3">
          <h1 class='display-4 text-carousel custom-carousel'>Haz que tu residuo <br> muestre su valor</h1>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class='container center mx-auto'>
        <%= image_tag("carousel-1.jpg", class: "d-block custom-carusel imagenesCarro") %>
        </div>
        <div class="carousel-caption d-none d-md-block carousel-caption titulos">
          <h1 class='display-4 text-carousel custom-carousel'>Haz comunidad y ecolabora</h1>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev btn btn-carousel" type="button" data-target="#carouselExampleDark" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next btn btn-carousel" type="button" data-target="#carouselExampleDark" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<div id='ecolabora' class='mt-5 py-5 container-fluid'>

  <div class="container">

    <div class="row featurette container-fluid">
      <div class="col-md-7">
        <h2 class="featurette-heading titulos">¿Qué es Ecolabora?</h2>
        <h3 class='textos'>El tinder de la economía circular</h3>
        <p class="lead textos">Una plataforma donde tus residuos o materiales en desuso hacen match con pymes locales y personas que los pueden usar o transformar.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("Ecolabora.png", class: "featurette-image img-fluid mx-auto logo") %>
      </div>
    </div>

  </div>
</div>

<div id='news'>
 <div class="container py-2">
    <div class='pt-5 mx-auto'>
      <h2 class='featurette-heading titulos'>Últimas novedades</h2>
    </div>
    <div class="row my-5 mx-0">
    <% @news.each do |n| %>
        <div class="col-lg-4 card p-0 mx-auto">
          <% if n.photo.present? %> 
            <%= image_tag(n.photo, class: "card-head", alt:"Thumbnail [100%x225]", style:"height: 225px; width: 100%; display: block;") %>
          <% else %> 
            <%= image_tag("carousel-4.jpg", class: "card-head", alt:"Thumbnail [100%x225]", style:"height: 225px; width: 100%; display: block;") %>
          <% end  %>
          <div class='card-body'>  
            <h2 class='titulos textos-news'><%= n.title %></h2>
            <p class='textos-news textos'><%= raw(n.content) %></p>
            <p><a class="btn btn-secondary textos btn-noticias" href="#" role="button">Ver más »</a></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>