<div class='container-fluid header'>

  <div class='container col-md-8 mx-auto my-3'>
      <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
  </div>

  <div class='container mx-auto my-3 d-block col-3'>
    <h2 class='titulos'>Ponte en contacto</h2>
  </div>

  <% product = Product.find(@purchase.product_id)  %>

  <div class='container row mx-auto textos'>
    <div class='container col-md-4'>
      <div class='row mx-auto align-items-center justify-content-center p-2 rounded shadow-sm bg-light max-size-box'>
          <div class='container col-md-8'>
            <% if product.photos.present?   %>
              <%= image_tag(product.photos.first, alt:"Foto_de_producto", width:"200", class:"rounded mb-2 img-thumbnail")%>
            <% end %>
          </div>

          <div class='container col-md-4'>
            <p class='textos'>
              <strong>Categoría:</strong>
              <%= product.category %>
            </p>

            <p class='textos'>
              <strong>Usuario:</strong>
              <%= product.user %>
            </p>

            <p class='textos'>
              <strong>¿Que és?:</strong>
              <%= product.name %>
            </p>

            <p class='textos'>
              <strong>Descripción:</strong>
              <%= product.description %>
            </p>
          </div>
      </div>

      <div class='center mx-auto my-3'>
        <%= link_to 'Mi perfil', user_profile_path, class:'btn btn-form textos col-6  d-block mx-auto my-1' %>
        <%= link_to 'No lo quiero', @purchase, method: :delete, data: { confirm: '¿Seguro? Esta bien, alguien quizás lo necesite más' }, class:'btn btn-danger textos col-6   d-block mx-auto my-1'  %>
        <%= link_to 'Volver', @purchase, class:'btn btn-link textos col-6   d-block mx-auto my-1' %>
      </div>
    </div>

    <div class='container col-md-8 mb-4 px-3'>
      <div class="card-chat mx-3 textos">
              <div class="card-chat-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <%= image_tag(current_user.avatar, alt:"Foto_de_producto", class:"rounded-circle user_img mx-1 mt-2")%>
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span><%= @purchase.user %></span>
                  </div>
                </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v iconos mx-3"></i></span>
              </div>
              <div class="bg-light msg_card_body textos border">
                <% if !@messages.nil?  %>
                  <% @messages.each do |message| %>
                    <% if message.user_id == @purchase.user_id  %>
                      <div class="d-flex justify-content-start mb-4">
                        <div class="msg_container_custom">
                          <%= message.content%>
                          <span class="msg_time textos"><%= time_ago_in_words(message.created_at) %></span>
                        </div>
                      </div>
                    <% elsif message.user_id == product.user_id %>
                      <div class="d-flex justify-content-end mb-4">
                        <div class="msg_container_send">
                          <%= message.content%>
                          <span class="msg_time_send"><%= time_ago_in_words(message.created_at) %></span>
                        </div>
                        <div class="img_cont_msg mr-2">
                          <%= image_tag(product.user.avatar, alt:"Foto_de_producto", class:"rounded-circle user_img_msg")%>
                        </div>
                      </div>
                    <% end %>
                  <% end %>  
                <% end %>
              </div>
              <div class="card-chat-footer mx-auto d-block">
                <%= render 'messages/form', message: @new_message %>
              </div>
            </div>
        </div>
    </div>
  </div>

</div>
