<div class='container-fluid header'>

  <div class='container col-md-8 mx-auto my-3'>
      <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
  </div>

  <div class='container mx-auto my-3 d-block col-3'>
    <h2 class='titulos'>Ponte en contacto</h2>
  </div>

  <% product = Product.find(@purchase.product_id)  %>

  <div class='container row mx-auto textos'>
    <div class='container col-md-5'>
      <div class='row mx-auto align-items-center justify-content-center p-2 rounded shadow-sm bg-light max-size-box'>
          <div class='container col-md-8'>
            <% if product.photos.present?   %>
              <%= image_tag(product.photos.first, alt:"Foto_de_producto", width:"200", class:"rounded mb-2 img-thumbnail")%>
            <% end %>
          </div>

          <div class='container col-md-4'>
            <p class='textos'>
              <strong>Categoría:</strong>
              <%= product.category %>
            </p>

            <p class='textos'>
              <strong>Usuario:</strong>
              <%= product.user %>
            </p>

            <p class='textos'>
              <strong>¿Que és?:</strong>
              <%= product.name %>
            </p>

            <p class='textos'>
              <strong>Descripción:</strong>
              <%= raw(product.description) %>
            </p>
          </div>
      </div>

      <div class='center mx-auto my-3'>
        <%= link_to 'Mi perfil', user_profile_path, class:'btn btn-form textos col-6  d-block mx-auto my-1' %>
        <% if current_user == User.find(@purchase.user_id) %>
          <%= link_to 'No lo quiero', @purchase, method: :delete, data: { confirm: '¿Seguro? Esta bien, alguien quizás lo necesite más' }, class:'btn btn-danger textos col-6   d-block mx-auto my-1'  %>
        <% elsif (current_user == User.find(Product.find(@purchase.product_id).user_id)) && (@purchase.status == 'Pendiente') %>
          <%= link_to 'Cancelar', cancel_purchase_path(@purchase), data: { confirm: "¿Seguro?, #{@purchase.user} lo quiere." }, class:'btn btn-danger textos col-6   d-block mx-auto my-1'  %>
          <%= link_to 'Finalizar', end_purchase_path(@purchase), data: { confirm: '¿Seguro? Sería una gran noticia.' }, class:'btn btn-success textos col-6   d-block mx-auto my-1'  %>
        <% end %>
        <%= link_to 'Volver', @purchase, class:'btn btn-link textos col-6   d-block mx-auto my-1' %>
      </div>
    </div>

    <div class='container col-md-7 mb-4 px-3 messageboard'>
      <div class="card-chat mx-3 textos">
        <div class="card-chat-header msg_head">
          <div class="d-flex bd-highlight">
            <div class='container p-3 m-2'>
              <h5 class='icon-negative'>Muro de mensajes</h5>
            </div>
          </div>
        </div>
        <div class="bg-light msg_card_body textos border p-3">
          <% if !@messages.nil?  %>
            <% @messages.each do |message| %>
              <% if message.user_id == @purchase.user_id  %>
                <div class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <%= image_tag(User.find(@purchase.user_id).avatar, alt:"Foto_de_producto", class:"rounded-circle user_img_msg")%>
                  </div>
                  <div class="msg_container_custom">
                    <%= raw message.content%>
                    <span class="msg_time text-dark textos"><%= time_ago_in_words(message.created_at) %></span>
                  </div>
                </div>
              <% elsif message.user_id == product.user_id %>
                <div class="d-flex justify-content-end mb-4">
                  <div class="msg_container_send m-1 p-1">
                    <%= raw message.content%>
                    <span class="msg_time_send"><%= time_ago_in_words(message.created_at) %></span>
                  </div>
                  <div class="img_cont_msg">
                    <%= image_tag(product.user.avatar, alt:"Foto_de_producto", class:"rounded-circle user_img_msg")%>
                  </div>
                </div>
              <% end %>
            <% end %>  
          <% end %>
        </div>
        <div class="card-chat-footer mx-auto d-block">
          <%= render 'messages/form', message: @new_message %>
        </div>
      </div>
    </div>

  </div>

</div>
