<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field textos">
    <%= form.label :category_id, "Categoría" %><br>
    <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name, product.category_id), prompt: 'Selecciona una categoría...', id: "form-category",class:'textos' %>
  </div>

  <div class="field textos">
    <%= form.label :name, "¿Que quieres revalorizar?"  %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field textos">
    <%= form.label :description, "Describe tu producto"  %><br>
    <%= form.text_area :description, 'data-provider': :summernote %>
  </div>

  <div class="field textos">
    <%= form.label :r_action, "¿Cuál es tu R?"%><br>
    <%= form.select :r_action, ["Reducir", "Reutilizar", "Reciclar"] %>
  </div>

  <div class='field textos'>
    <%= form.label :photos, "Fotos del producto" %><br>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <div class="actions textos">
    <%= form.submit "Crear", class:'btn btn-form textos my-2'%>
  </div>
<% end %>
