<div class='container-fluid home-body'>
  <div class='container py-5 px-2 mx-auto'>
    <section class="jumbotron text-center header mb-0 col-md-12">
      <div class="container mx-auto">
        <div class='row align-items-center justify-content-center mb-4'>
          <%= image_tag("Ecolabora.png", class: "small-logo d-block mx-5") %> 
          <h1 class="titulos">Catálogo</h1>
        </div>
      </div>
      <h5 class="header textos col-md-8 mx-auto">En Ecolabora todos los productos le pertenecen a alguien que lo aprovechó y que ya no necesita. Esto no significa que no tienen valor. Aprovéchalos y dales otra oportunidad.</h5>
      
      <div class='row pt-5 align-items-center justify-content-center '>
        <div class='col-4'>
          <%= link_to 'Sube un producto', new_product_path, class: 'textos btn-form btn my-2' %>
        </div>  
        <div class='col-s-12 col-md-4 row align-items-center justify-content-center'>                   
          <div class="d-flex">
            <%= form_tag(products_path, method: :get) do %> 
              <%= text_field_tag(:search, params[:search], options:{class:"form-control my-2 textos", placeholder:'¿Qué necesitas?'}) %>
              <%= submit_tag "Buscar", class:'btn btn-warning my-2 textos' %>
            <% end  %>
          </div>
          <i class="far fa-bell fa-2x d-block mx-1" data-toggle="tooltip" data-placement="right" title="Crea una alerta"></i>
        </div>
      </div>
    </section>

    <div class='jumbotron header container col-md-12 mx-auto py-0'>
      <div class="album py-2 bg-light">
        <div class="container">
            <div class='row'>
              <h5 class="header textos mr-auto small">Estos productos están cerca de tu comuna y región</h5>
              <%= form_tag(products_path, method: :get) do %> 
                <%= hidden_field_tag(params[:type],'Local') %>
                <%= submit_tag "Local", class:'btn btn-warning my-2 textos' %>
              <% end  %>

              <%= form_tag(products_path, method: :get) do %> 
                <%= hidden_field_tag(params[:type],'') %>
                <%= submit_tag "Nacional", class:'btn btn-form my-2 textos' %>
              <% end  %>
            </div>

            <div class="row">
              <% @products.available.each do |p1,p2,p3|  %> 
                <% if !p1.nil?  %>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <% if p1.photos.present?  %>
                        <%= image_tag(p1.photos.first, alt:"Foto_de_producto", class:"card-img-top", alt:"Thumbnail [100%x225]", style:"height: 225px; width: 100%; display: block;")%>
                      <% else  %>
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_178fa88563b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_178fa88563b%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.0859375%22%20y%3D%22117.534375%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <% end  %>
                      <div class="card-body">
                        <span class='badge bg-warning text-dark my-2'><%= p1.category %></span>
                        <span class="badge bg-success text-dark my-2"><%= p1.r_action %></span>
                        <p class="card-text">¿Quién?: <%= p1.user %></p>
                        <p class="card-text">¿Qué? <%=p1.name %>: <span><%= raw(p1.description)%></p></span>
                        <p class="card-text">¿Donde? <%=p1.user.city %>, <%= p1.user.province%></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <% if p1.user == current_user %>
                              <%= link_to 'Ver', p1, class: 'textos btn btn-form btn-outline-secondary'%>
                              <%= link_to 'Editar', edit_product_path(p1), class: 'textos btn btn-sm btn-outline-secondary'%>
                              <%= link_to 'Borrar', p1, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'textos btn btn-sm btn-outline-secondary'%>
                            <% else  %>
                              <%= link_to '¡Lo quiero!', new_purchase_path(p1), class: 'textos btn btn-form btn-outline-secondary', data: { confirm: '¿Estás seguro?' }%>
                              <%= link_to 'Ver', p1, class: 'textos btn btn-sm btn-outline-secondary'%>
                            <% end  %>
                          </div>
                          <small class="text-muted"><%= time_ago_in_words(p1.created_at) %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end  %>
                <% if !p2.nil? %>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                       <% if p2.photos.present? %>
                        <%= image_tag(p2.photos.first, alt:"Foto_de_producto", class:"card-img-top", alt:"Thumbnail [100%x225]", style:"height: 225px; width: 100%; display: block;")%>
                      <% else  %>
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_178fa88563b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_178fa88563b%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.0859375%22%20y%3D%22117.534375%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                      <% end  %>
                      <div class="card-body">
                          <span class='badge bg-warning text-dark my-2'><%= p2.category %></span>
                          <span class="badge bg-success text-dark my-2"><%= p2.r_action %></span>
                          <p class="card-text">¿Quién?: <%= p2.user %></p>
                          <p class="card-text">¿Qué? <%=p2.name %>, <%= p2.description%></p>
                          <p class="card-text">¿Donde? <%=p2.user.city %>, <%= p2.user.province%></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <% if p2.user == current_user %>
                                <%= link_to 'Ver', p2, class: 'textos btn btn-form btn-outline-secondary'%>
                                <%= link_to 'Editar', edit_product_path(p2), class: 'textos btn btn-sm btn-outline-secondary'%>
                                <%= link_to 'Borrar', p2, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'textos btn btn-sm btn-outline-secondary'%>
                              <% else  %>
                                <%= link_to '¡Lo quiero!', new_purchase_path(p2), class: 'textos btn btn-form btn-outline-secondary', data: { confirm: '¿Estás seguro?' }%>
                                <%= link_to 'Ver', p2, class: 'textos btn btn-sm btn-outline-secondary'%>
                              <% end  %>
                            </div>
                            <small class="text-muted"><%= time_ago_in_words(p2.created_at) %></small>
                          </div>
                      </div>
                    </div>
                  </div>
                <% end  %>
                <% if !p3.nil?  %>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <% if p3.photos.present?  %>
                          <%= image_tag(p3.photos.first, alt:"Foto_de_producto", class:"card-img-top", alt:"Thumbnail [100%x225]", style:"height: 225px; width: 100%; display: block;")%>
                        <% else  %>
                          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22208%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20208%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_178fa88563b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A11pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_178fa88563b%22%3E%3Crect%20width%3D%22208%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2266.0859375%22%20y%3D%22117.534375%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                        <% end  %>
                        <span class='badge bg-warning text-dark my-2'><%= p3.category %></span>
                        <span class="badge bg-success text-dark my-2"><%= p3.r_action %></span>
                        <p class="card-text">¿Quién?: <%= p3.user %></p>
                        <p class="card-text">¿Qué? <%=p3.name %>, <%= p3.description%></p>
                        <p class="card-text">¿Donde? <%=p3.user.city %>, <%= p3.user.province%></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <% if @p3.user == current_user %>
                                <%= link_to 'Ver', p3, class: 'textos btn btn-form btn-outline-secondary'%>
                                <%= link_to 'Editar', edit_product_path(p3), class: 'textos btn btn-primary btn-outline-secondary'%>
                                <%= link_to 'Borrar', p3, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'textos btn btn-sm btn-outline-secondary'%>
                              <% else  %>
                                <%= link_to '¡Lo quiero!', new_purchase_path(p3), class: 'textos btn btn-form btn-outline-secondary', data: { confirm: '¿Estás seguro?' }%>     
                                <%= link_to 'Ver', p3, class: 'textos btn btn-sm btn-outline-secondary'%>
                              <% end  %>
                            </div>
                          <small class="text-muted"><%= time_ago_in_words(p3.created_at) %></small>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end  %>
              <% end  %>
            </div> 
        </div>
      </div>
    </div>
    
  </div>

    <!-- Modal -->
  <div class="modal fade" id="AlertModal" tabindex="-1" aria-labelledby="AlertModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="AlertModalLabel">Crea una alerta</h5>
              </div>
              <div class="modal-body">
                <%= render 'alerts/new' %>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

</div>