<div class='container-fluid header'>
  <div class='contaoner col-md-12 mx-auto my-3 center'>
      <%= image_tag("Ecolabora.png", class: "mx-auto small-logo d-block") %>
  </div>
  <div class='container col-md-10 mx-auto my-3'>
    <h2 class='titulos'>Edita tu perfil</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

      <div class='row'>
        <div class='col-md-4'>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label "Ingresa una nueva contraseña" %><br><i class='small mt-0'>(Solo si quieres cambiarla)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em>(<%= @minimum_password_length %> caractéres mínimos)</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label "Confirma tu contraseña" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label "Contraseña anterior" %> <i></i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>

        </div>
        
        <div class='col-md-4'>
          <div class="field textos">
            <%= f.label "Nombre"%><br />
            <%= f.text_field :first_name %>
          </div>

          <div class="field textos">
            <%= f.label "Apellido"%><br />
            <%= f.text_field :last_name %>
          </div>

          <div class="field textos">
            <%= f.label "Edad"%><br />
            <%= f.select :age, ((0..99).map {|i| [i,i] }) %>
          </div>

          <div class="field textos">
            <%= f.label "Dirección"%><br />
            <%= f.text_field :address %>
          </div>

        </div>
        <div class='col-md-4'>
          <div class="field textos">
            <%= f.label "Nº de dirección"%><br />
            <%= f.text_field :n_address %>
          </div>

          <div class="field textos">
            <%= f.label "Región" %><br />
            <%= f.select :province, options_from_collection_for_select(@regions, :id, :name), prompt: 'Región..', id: "f-category", class:'textos' %>
          </div>

          <div class="field textos">
            <%= f.label "Comuna" %><br />
            <%= f.select :city, options_from_collection_for_select(@counties, :id, :name), prompt: 'Comuna..', id: "form-category",class:'textos' %>
          </div>

          <div class="field textos">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, placeholder: 'Sube una foto para tu perfil' %>
          </div>
        </div>
      
      </div>
  </div>

  <div class="container mx-auto actions textos col-md-3">
    <%= f.submit "Actualiza tus datos", class:'btn btn-form textos my-2'%>
    <% end %>
    <%= button_to "Cierra mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-form textos my-2' %></p>
    <%= link_to "Volver", :back, class:'textos btn' %>
  </div>

</div>

